{%extends 'website/base.html'%}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <h1>Estacionamento 24h</h1>
            <span>Sempre pronto pra atender você</span>
        </div>
        <div class="col-6">
            <img src="{% static 'img/parking.png' %}" alt="Estacionamento 24 horas">
        </div>
    </div>
    
    {% include 'website/menu.html' %}
    <br>

    <div class="row">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. 
            Quem manda na minha terra sou euzis!
            Viva Forevis aptent taciti sociosqu ad litora torquent.
            A ordem dos tratores não altera o pão duris.
            Quem num gosta di mé, boa gentis num é.
        </div>
        <div class="col-6">
            Cevadis im ampola pa arma uma pindureta.Praesent vel viverra nisi.
             Mauris aliquet nunc non turpis scelerisque, eget.
             In elementis mé pra quem é amistosis quis leo.
             Mauris nec dolor in eros commodo tempor. 
             Aenean aliquam molestie leo, vitae iaculis nisl.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Mussum Ipsum, cacilds vidis litro abertis. 
            Quem manda na minha terra sou euzis!
            Viva Forevis aptent taciti sociosqu ad litora torquent.
            A ordem dos tratores não altera o pão duris.
            Quem num gosta di mé, boa gentis num é.
        </div>
        <div class="col-3">
            <img src="{% static 'img/estacionamento.jpeg' %}" alt="Imagem Estacionamento">
        </div>
        <div class="col-6">
            Cevadis im ampola pa arma uma pindureta.Praesent vel viverra nisi.
             Mauris aliquet nunc non turpis scelerisque, eget.
             In elementis mé pra quem é amistosis quis leo.
             Mauris nec dolor in eros commodo tempor. 
             Aenean aliquam molestie leo, vitae iaculis nisl.
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. 
            Quem manda na minha terra sou euzis!
            Viva Forevis aptent taciti sociosqu ad litora torquent.
            A ordem dos tratores não altera o pão duris.
            Quem num gosta di mé, boa gentis num é.
        </div>
        <div class="col-6">
            Cevadis im ampola pa arma uma pindureta.Praesent vel viverra nisi.
             Mauris aliquet nunc non turpis scelerisque, eget.
             In elementis mé pra quem é amistosis quis leo.
             Mauris nec dolor in eros commodo tempor. 
             Aenean aliquam molestie leo, vitae iaculis nisl.
        </div>
    </div>

    {% include 'website/footer.html' %}
{% endblock %}