{%extends 'base.html' %}
{% load bootstrap %}


{%block menu%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item active" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Rotativos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
          </div>
        </li>
        
        {%if user.is_authenticated %}

        <li class="nav-item ">
          <a class="nav-link disabled" href="">Olá, {{user}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        {% endif %}
    </ul>
{%endblock%}


{%block main%}

<div class="row">
    <div class="col-sm-12">
        <h1> Cadastro de Veiculos</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">       
        <ul>
            <form action="{% url 'core_veiculo_novo' %}" method="POST">
                {% csrf_token %}
                {{form|bootstrap}}
                <br>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            
            </form>
        
        </ul>
    </div>

        
    <div class="col-sm-6">
        <div class="col-sm-6">
            <h1>Lista de veículos</h1>
            <table class="table">
                <thead class= "thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Proprietário</th>
                  </tr>
                </thead>
                <tbody>
                    {% for veiculo in veiculos %}
                  <tr>
                    <th scope="row" >{{veiculo.id}}</th>
                    <td><a href="{% url 'core_veiculo_update' veiculo.id %}" style="display:block;">&nbsp;></a>{{veiculo.marca}}</td>
                    <td>{{veiculo.placa}}</td>
                    <td>{{veiculo.proprietario}}</td>
                  </tr>
                  <tr>
                    {%endfor%}
                </tbody>
              </table>
        
    </div>
</div>
{% endblock %}