{% extends 'base.html' %}
{% load bootstrap %}

{%block menu%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Rotativos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{%endblock%}


{%block main%}
    
<div class="row">
    <div class="col">
        <h2> Lista Movimento Mensalistas:</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ul>
            <form action="{% url 'core_movmensalista_novo' %}" method="POST">
                {%csrf_token%}
                {{form|bootstrap}}
    
            <br>
    
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        
        </ul>
    </div>

    <div class="col-sm-6">
        {% for mov in mov_mensalistas %}
            <li> 
                <a href="{% url 'core_movmensalista_update' mov.id %}">
                    {{ mov.mensalista }} - {{ mov.total }} 
                </a> 
            </li>
        {% endfor %}
        
    </div>
</div>

{%endblock%}